.FAQ .firstWrap .marks .item1 {
    box-shadow: #2a2830 0px 0px 3px 2px !important;
    background-color: #2a2830 !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item2 {
    box-shadow: #2a2830 0px 0px 3px 2px !important;
    background-color: #2a2830 !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item3 {
    box-shadow: #3f3d44 0px 0px 3px 2px !important;
    background-color: #3f3d44 !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item4 {
    box-shadow: #3f3d44 0px 0px 3px 2px !important;
    background-color: #3f3d44 !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item5 {
    box-shadow: #a58a6d 0px 0px 3px 2px !important;
    background-color: #a58a6d !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item6 {
    box-shadow: #a58a6d 0px 0px 3px 2px !important;
    background-color: #a58a6d !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item7 {
    box-shadow: #574e5f 0px 0px 3px 2px !important;
    background-color: #574e5f !important;
    color: #dcb894 !important;
}

.FAQ .firstWrap .marks .item8 {
    box-shadow: #574e5f 0px 0px 3px 2px !important;
    background-color: #574e5f !important;
    color: #dcb894 !important;
}
