.FAQ .firstWrap .marks .item1 {
    box-shadow: #ffffff 0px 0px 3px 2px !important;
    background-color: #ffffff !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item2 {
    box-shadow: #FF6666 0px 0px 3px 2px !important;
    background-color: #FF6666 !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item3 {
    box-shadow: #FF6666 0px 0px 3px 2px !important;
    background-color: #FF6666 !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item4 {
    box-shadow: #ffffff 0px 0px 3px 2px !important;
    background-color: #ffffff !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item5 {
    box-shadow: #ffdb81 0px 0px 3px 2px !important;
    background-color: #ffdb81 !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item6 {
    box-shadow: #ffdb81 0px 0px 3px 2px !important;
    background-color: #ffdb81 !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item7 {
    box-shadow: #FF9999 0px 0px 3px 2px !important;
    background-color: #FF9999 !important;
    color: #9a0c0b !important;
}

.FAQ .firstWrap .marks .item8 {
    box-shadow: #FF9999 0px 0px 3px 2px !important;
    background-color: #FF9999 !important;
    color: #9a0c0b !important;
}